<button style="margin:10px;" mat-raised-button color="primary" routerLink="/chongshengde/post-form">Post</button>
<!-- <pre>{{(posts | async | json)}}</pre> -->

<div *ngFor="let post of (posts | async) ">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post.user}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="post.imageURL" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{post.date}}</p>
          <p>{{post.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button [matBadge]=post.like.length matBadgePosition="above after" matBadgeColor="accent" mat-button (click)="chongshengdeService.like(post.id)">LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
<div id="chat-bot">
  <div id="greetings">
    Hey Guys!!
  </div>
</div>

<button
  style="margin:10px;"
  mat-raised-button
  color="primary"
  (click)="next()"
>next</button>