.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-card {
    margin: 10px;
}

.example-card img {
    max-width: initial;
}

#chat-bot {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    background-image: url(/assets/images/kizunaai.png);
    background-size: cover;
}
#greetings {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 0 5px;
    width: 130px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    background: #a58eff;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
  #greetings:before {
    content: "";
    position: absolute;
    bottom: -8px;
    right: -2px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #a58eff;
    z-index: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  