.fixed-bg {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.outer{
    position: relative;
  }
.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.inner h1 {
    color: #002a0d;
}

.inner button {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: 0;

}

.scroll-bg {
    margin: 10px;
}

.bg01 {
    background-image: url(/assets/images/P_20180101_100231.jpg);
}

.bg02 {
    background-image: url(/assets/images/IMG_0057.jpg);
}


@media (min-width: 1200px) {/* 1200px以上*/
    h1 {
        font-size: 8rem;
    }
    button {
        font-size: 4rem;
        width: 300px;
        height: 100px;
    }
}
@media screen and (max-width: 640px) {/* 640px以下*/
    body{
        line-height: 2;
    }
    h1{
        font-size: 3rem;
    }
    button {
        font-size: 1.6rem;
        width: 100px;
        height: 50px;
    }
}