.fixed-bg {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.outer{
    position: relative;
  }
.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.inner h1 {
    font-size: 120px;
    color: #002a0d;
}

.inner button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: 0;
    width: 300px;
    height: 100px;
    font-size: 80px;
}

.scroll-bg {
    margin: 10px;
}

.bg01 {
    background-image: url(/assets/images/P_20180101_100231.jpg);
}

.bg02 {
    background-image: url(/assets/images/IMG_0057.jpg);
}