<div class="container" novalidate> 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    
        <mat-form-field class="form-element">
        <textarea [(ngModel)]="description" matInput placeholder="How's going?" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="description"></textarea>
        <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
            Required field, must be between 5 and 10 characters.
        </mat-error>
        </mat-form-field>
    
        <div class="file is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-icon">
                <fa-icon icon="upload"></fa-icon>
              </span>
              <span class="file-label">
                添付ファイル ...
              </span>
            </span>
          </label>
        </div>

    
        <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
        </div>
    
    </form>
</div>